<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-half is-offset-one-quarter has-background-light p-8 rounded-lg flex flex-col items-center justify-center">
        <%= image_tag("logo-black.png", class: "max-w-sm") %>
        <h1 class="text-xl font-bold text-gray-900">Create a new account</h1>
        
        <div class="w-full">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <label class="label">Email</label>
    <div class="control">
      <%= f.email_field :email, placeholder: "your email", class: "input", autofocus: true, autocomplete: "email" %>
    </div>
  </div>

  <div class="field">
    <label class="label">Password</label>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <div class="control">
      <%= f.password_field :password, placeholder: "your password", class: "input" %>
    </div>
  </div>

  <div class="field">
    <label class="label">Password</label>
    <div class="control">
      <%= f.password_field :password_confirmation, placeholder: "your password", class: "input" %>
    </div>
  </div>

    <div class="field">
      <div class="control">
        <%= f.submit "Sign up", class: "button is-link is-fullwidth" %>
      </div>
    </div>
<% end %>
        </div>
        <div class="py-4 w-full flex flex-col items-center justify-center">
          <p class="pb-4">or</p>
          <div class="field w-full">
            <button class="button is-fullwidth">github</button>
          </div>
          <div class="field w-full">
            <button class="button is-fullwidth">google</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
