<section class='section'>
  <div class='container'>
    <h2 class="title"> Sprint: <%= @sprint.name %> </h2>
    <div class="buttons">
      <%= link_to "Edit", edit_project_sprint_path(@sprint.project, @sprint), class: "button is-primary" %>
      <%= link_to "Delete", sprint_path(@sprint), method: :delete, data: { confirm: "Are you sure you want to delete \"#{@sprint.name}?\"" }, class: "button is-danger" %>
    </div>
    <nav class="panel">
      <div class="panel-heading">
          <div> Stories </div>
      </div>
      <% if @sprint.stories.any? %>
        <% @sprint.stories.uniq.each do |s| %>
          <a href="<%= sprint_story_path(@sprint, s) %>">
            <div href="" class="panel-block flex flex-row justify-between">
            
              <div class="">
                <%= s.name %>&nbsp;
                <span class="tag">effort: <%= s.effort %></span>&nbsp;
                <% case s.status %>
                <% when "doing" %>
                  <span class="tag is-warning">doing</span>
                <% when "closed" %>
                  <span class="tag is-success">closed</span>
                <% when "todo" %>
                  <span class="tag is-danger">todo</span>
                <% end %> 
              </div>
              
              <div class="buttons">
                <%= link_to "View", sprint_story_path(@sprint, s), class: "button is-small is-light" %>
                <%= link_to "Edit", edit_sprint_story_path(@sprint, s), class: "button is-primary is-small is-light" %>
                <%= link_to "Delete", sprint_story_path(@sprint, s), method: :delete, data: { confirm: "Are you sure you want to delete \"#{s.name}?\"" }, class: "button is-danger is-small is-light" %>
              </div>
            </div>
          </a>
        <% end %>
      <% else %>
        <div class="panel-block">
          No stories
        </div>
      <% end %>
      <%= link_to "+ New Story", new_sprint_story_path(@sprint, Story.new), class: "panel-block is-active" %>
    </nav>
    <div class="columns">
      <div class="column is-6">
      <nav class="panel">
        <p class="panel-heading"> Dates </p>
        <p class="panel-block"> Start: 
          <% if @sprint.start_date %>
            <%= @sprint.start_date.strftime("%m/%d/%Y") %>
          <% else %>
            <span class="text-red-500 font-bold">
              &nbsp;no start date
            </span>
          <% end %>
        </p>
        <p class="panel-block"> End: 
          <% if @sprint.end_date %>
            <%= @sprint.end_date.strftime("%m/%d/%Y") %> 
          <% else %>
            <span class="text-red-500 font-bold">
              &nbsp;no end date
            </span>
          <% end %>
        </p>
        <%= link_to "Edit Dates", edit_sprint_path(@sprint), class: "panel-block is-active" %>
      </nav>
      </div>
      <div class="column is-6">
      <nav class="panel">
        <p class="panel-heading"> Goals </p>
        <% if @sprint.goals.any? %>
          <% @sprint.goals.uniq.each do |g| %>
            <%= link_to g.name, goal_path(g), class: "panel-block" %>
          <% end %>
        <% else %>
          <div class="panel-block text-red-500 font-bold">
            Not added to any goals
          </div>
        <% end %>
      </nav>
      </div>
    </div> 
      <%= link_to "< Back to project", project_path(@sprint.project), class: "button" %>
  </div>
</section>