<section class='section'>
  <div class='container'>
    <h2 class="title"> Story: <%= @story.name %> </h2>
    <div class="buttons">
      <%= link_to "Edit", edit_sprint_story_path(@story.sprint, @story), class: "button is-primary" %>
      <%= link_to "Delete", sprint_story_path(@story.sprint, @story), method: :delete, data: { confirm: "Are you sure you want to delete \"#{@story.name}?\"" }, class: "button is-danger" %>
    </div>
    <nav class="panel">
      <p class="panel-heading"> Description </p>
        <div href="" class="panel-block flex flex-col justify-between">
        <div class="flex flex-row justify-between w-full">
            <div class="">
            <span class="tag">effort: <%= @story.effort %></span>
              <% case @story.status %>
              <% when "doing" %>
                <span class="tag is-warning">doing</span>
              <% when "closed" %>
                <span class="tag is-success">closed</span>
              <% when "todo" %>
                <span class="tag is-danger">todo</span>
              <% end %> 
            </div>
            
          </div>
        <div class="content w-full py-2">
        <% if @story.description %>
          <%= @story.description %>
        <% else %>
          <p class="text-gray-600 italic">
          No description
          </p>
        <% end %>
        </div>
        </div>
    </nav>
    <%= link_to "< Back to sprint ("+@story.sprint.name+")", project_sprint_path(@story.sprint.project, @story.sprint), class: "button" %>
  </div>
</section>