<%= link_to "All Projects", projects_path, class: "menu-label" %>
<ul class="menu-list">
  <% Project.all.each do |p| %>
  <li><%= link_to p.name, project_path(p), class: menu_link_class(project_path(p), request.path) %>
  <% if project_path(p) == request.path %>
  <%= link_to "Sprints", project_sprints_path(p), class: "menu-label" %>
    <ul class="menu-list">
      <% p.sprints.each do |s| %>
        <li><%= link_to s.name, project_sprint_path(p, s), class: menu_link_class(project_sprint_path(p, s), request.path) %> </li>
      <% end %>
    </ul>
  <%= link_to "Goals", project_goals_path(p), class: "menu-label" %>
    <ul class="menu-list">
      <% p.goals.each do |g| %>
        <li><%= link_to g.name, project_goals_path(p, g), class: menu_link_class(project_goal_path(p, g), request.path) %> </li>
      <% end %>
    </ul>
    <% end %>
  </li>
  <% end %>
</ul>
<div class="buttons mt-4 ">
  <%= link_to "â† Back to all projects", projects_path, class: "button is-small is-light" if @project %>
  <%= link_to "New Project", new_project_path, class: "button is-small is-primary" %>
</div>
