<ul class="menu-list">
  <% Project.all.each do |p| %>
  <li>  
  <% if p == current_project %>
  <%= link_to menu_project_name(1, 1, p.name), project_path(p), class: menu_link_class(project_path(p), request.path) %>
  <%= link_to "Sprints", project_sprints_path(p), class: "menu-label "+menu_link_class(project_sprints_path(p), request.path) %>
    <ul class="menu-list">
      <% p.sprints.each do |s| %>
        <li><%= link_to s.name, project_sprint_path(p, s), class: menu_link_class(current_sprint, s) %> </li>
      <% end %>
    </ul>
  <%= link_to "Goals", project_goals_path(p), class: "menu-label "+menu_link_class(project_goals_path(p), request.path) %>
    <ul class="menu-list">
      <% p.goals.each do |g| %>
        <li><%= link_to g.name, project_goal_path(p, g), class: menu_link_class(current_goal, g) %> </li>
      <% end %>
    </ul>
    <% else %>
  <%= link_to menu_project_name(1, 0, p.name), project_path(p), class: menu_link_class(project_path(p), request.path) %>
  <% end %>
  </li>
  <% end %>
</ul>
<div class="buttons mt-4 ">
  <%= link_to "â† Back to all projects", projects_path, class: "button is-small is-light" unless @projects %>
  <%= link_to "New Project", new_project_path, class: "button is-small is-primary" %>
</div>
