<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
        <%= image_tag("logo-black.png", class: "max-w-sm") %>
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>


    <div class="navbar-end">
      <div class="navbar-item">
        <% if user_signed_in? %>
        <div class="buttons">
  <%= link_to current_user.email, edit_user_registration_path, :class => 'button' %> 
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'button'  %>
  </div>
<% else %>
        <div class="buttons">
  <%= link_to "Sign up", new_user_registration_path, :class => 'button'  %> 
  <%= link_to "Login", new_user_session_path, :class => 'button is-primary'  %>
  </div>
<% end %>
      </div>
    </div>
  </div>
</nav>